.formulaire-connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;    
  }

.div-formulaire{
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width:40%;
    padding: 30px;
}

.div-input {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    gap: 15px;
}

.input-element{
    display: grid;
    grid-template-columns: repeat(2, 1fr);      
}

h1 {
    margin: 20px 0 10px;
}

.lien-inscription{
    margin-top:20px;
}

    .lien-inscription a {
        color: #A9A9A9;
    }

    .lien-inscription a:hover{
        color:#42b983;
    }
  